.catering-preview {
	display: flex;
	padding-bottom: 30px;
}

.preview-catering-image {
	cursor: pointer;
	height: 130px;
	width: 200px;
}

.preview-title {
	font-size: 16px;
	padding-bottom: 4px;
}

.preview-title:hover {
	color: green;
	cursor: pointer;
}

.catering-preview-info {
	font-size: 14px;
	max-height: 130px;
	padding-left: 17px;
	text-align: left;
}

.preview-description {
	height: 84px;
	line-height: 20px;
	overflow: hidden;
	padding-top: 4px;
}
