.page {
	height: 100%;
	width: 100%;
}

.home-page {
	display: flex;
	height: 90%;
	justify-content: space-between;
	width: 100%;
}

.caterings-list {
	height: 100%;
	padding-top: 10px;
	width: 70%;
}
